.drop-placeholder {
    position: relative; /* overlay가 이 부모 기준으로 위치를 잡도록 */
    width: 100%;
}
.button-grid {
    display: grid;
    gap: 10px; /* 버튼 간 간격 */
    padding: 20px;
}

.drop-btn {
    padding: 12px 0;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 12px; /* 둥근 모서리 */
    transition: transform 0.2s, box-shadow 0.2s;
    height: 120px;
    background: #E0E0E0;
}

.drop-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.btn-style1 {
    background: linear-gradient(135deg, #4a80c2, #6aa0e2, #8ab8f2);
    color: white;
    background: #4A90E2;
}

.btn-style2 {
    background-color: #5e5e5e;
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.drop-btn div {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.drop-btn img {
    height: 40px;
}

.drop-btn .drop-btn-itemprice {
    justify-content: right;
    align-items: end;
}

.drop-btn-itemname {
    font-size: 14px;
    font-family: Noto Sans KR,sans-serif;
    font-weight: bold;
}

.drop-btn-itemprice {
    font-size: 12px;
    font-family: Roboto,sans-serif;
    margin-right: 5px;
}

.btn-active {
    background-color: #8ab8f2;
}

@media (max-width: 399px) {
    .button-grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10px 0 10px;
    }
    .drop-btn-itemname {
        font-size: 10px;
    }
    .drop-btn-itemprice {
        font-size: 10px;
    }
}
@media (min-width: 400px) and (max-width: 767px) {
    .button-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .drop-btn-itemname {
        font-size: 12px;
    }
    .drop-btn-itemprice {
        font-size: 12px;
    }
}
@media (min-width: 768px) and (max-width:1239px) {
    .button-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1240px) and (max-width: 1449px) {
    .button-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1450px) {
    .button-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}